/* || CSS RESET */
*,
* ::after,
* ::before {
  box-sizing: border-box;
  outline: 1px solid lime;
  background-color: hsla(0, 100%, 50%, 0.05);
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/*|| VARIABLES */
/* COLORS */
:root {
  --BUTTON: #c9ada7;
  --LINKS: #c9ada7;
  --OUTLINE: #c9ada7;
  --UNIMP-TEXT: #9a8c98;
  --PLACEHOLDER: #9a8c98;
  --TEXT: #f2e9e4;
  --BACKGROUND: #22223b;
  --SECTION: #4a4e69;
}
