@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* || CSS RESET */
*,
* ::after,
* ::before {
  box-sizing: border-box;
  /* outline: 1px solid lime; */
  /* background-color: hsla(0, 100%, 50%, 0.05); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/*|| VARIABLES */
/* COLORS */
:root {
  --BUTTON: #c9ada7;
  --LINKS: #c9ada7;
  --OUTLINE: #c9ada7;
  --UNIMP-TEXT: #9a8c98;
  --PLACEHOLDER: #9a8c98;
  --TEXT: #f2e9e4;
  --BACKGROUND: #22223b;
  --SECTION: #4a4e69;
  --TAP: hsla(0, 0%, 70%, 0.2);
}
/* || GENERAL STYLES */
header {
  padding: 0.5rem;
  background-color: var(--BACKGROUND);
  font-family: Roboto;
  font-weight: lighter;
  letter-spacing: 1.5px;
}
header .top-nav {
  position: relative;
}
header .top-nav h2 {
  position: absolute;
  left: -100000px;
}
header .top-nav figure figcaption h1 {
  font-size: 1rem;
  font-weight: inherit;
}
header .top-nav figure img {
  height: 50px;
  width: auto;
}
header .top-nav ul li {
  list-style-type: none;
  list-style-position: inside;
}
header .top-nav ul li form label {
  position: absolute;
  left: -10000px;
}

header .top-nav ul li a,
header .top-nav ul li a :visited {
  color: var(--LINKS);
  text-decoration: none;
  outline-color: var(--OUTLINE);
  outline-offset: 3px;
}
header .top-nav ul li figcaption a:hover {
  text-decoration: none;
}
header .top-nav ul li a:is(:hover, :focus) {
  text-decoration: underline;
  font-size: 1.1rem;
}
header .top-nav ul li a:active {
  color: var(--TAP);
  -webkit-tap-highlight-color: var(--TAP);
}
header .top-nav ul li form input {
  background-color: var(--SECTION);
  height: 30px;
  border: none;
  border: 1px solid var(--OUTLINE);
  border-radius: 30px;
}
